@model WebClient.Models.Users

@{
    ViewData["Title"] = "GetUser";
}

<h2>GetUser</h2>

<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserConfirmPassword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserConfirmPassword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserActiveCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserActiveCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserIsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserIsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MotificationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MotificationDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
